In [89]:
import pandas as pd
from pathlib import Path
import os
import numpy as np

from IPython.display import display


pd.set_option("display.precision", 13)

In [92]:
# location of data 
root = Path('D:\\')
dir = 'D:/Kinematic_data'

csv = 'C:/Users/petra/REU/unix_videos.csv'
dfv = pd.read_csv(csv)

# find all kinematics files in the folder
#file_list = list(dir.glob('*.txt'))
#file_list

In [147]:
8 * np.ones(4, dtype=np.uint8)

array([8, 8, 8, 8], dtype=uint8)

In [150]:

# loop over videos
for index, row in dfv.iterrows():
    file = int(row["video_id"])
    fname = f'''{file}.txt'''
    print (fname)

    filename = f'''{dir}/{fname}'''
    print(filename)
    filepath = Path(filename)

    # Get all 88 column names (will look like "sensor_6_azimuth")
    col_names = ["name", "status", "x", "y", "z", "azimuth", "elevation", "roll", "button", "quality", "time"]
    cols = []
    for sensor_num in range(1,9):
        for col_name in col_names:
            cols.append(f"sensor_{sensor_num}_{col_name}")

    # Read all sensor data into one dataframe
    df = pd.read_csv(filename, sep='\s+', header=0, names=cols)

    # Separate out each sensor into its own dataframe
    sensor_dfs = []
    for sensor_num in range(1,9):
        sensor_cols = [f"sensor_{sensor_num}_{col_name}" for col_name in col_names]
        # Rename ("sensor_6_azimuth" -> "azimuth") since sensor name isn't needed anymore
        sensor_df = df[sensor_cols].rename({sc: c for sc,c in zip(sensor_cols, col_names)}, axis=1)
        sensor_dfs.append(sensor_df)
        #print(sensor_df)
        

    fps = 30
    #frames = 50

    # useful time interval
    # loop over videos - iterate through the unix start and end times for tasks
    start_timestamp = row['unix_start_time']
    end_timestamp = row['unix_end_time']

    # total number of frames
    frames = int(np.floor((end_timestamp - start_timestamp) * fps))
    #display(frames)

    # new dataframe for the time of each frame
    f = np.arange(frames) # array of frame numbers 0,1,2...,frames-1
    t = start_timestamp + f / fps
    times = pd.DataFrame({'time': t, 'frame': f})
    print(times)
    if False:
        display(times)

    merged_dfs = []
    for sensor_index, sensor_df in enumerate(sensor_dfs):
        sensor_num = sensor_index + 1
        print(sensor_df)

        # test time intervals
        assert times.time.values[0] > sensor_df.time.values[0], 'starting violation'
        assert times.time.values[-1] < sensor_df.time.values[-1], 'ending violation'

        #join the motion data and the frame times data frames 
        #merged_df = pd.merge(times, df[['t', 'x']], left_on='time', right_on='t', how='outer')

        merged_df = times.merge(sensor_df, how='outer', on='time')
        display(merged_df)


        # sort the unix times column in numerical order 
        merged_df = merged_df.sort_values(by=['time'])
        merged_df.set_index('time', inplace=True)
        display(merged_df)

        # sensor columns to interpolate are all but a few
        sensor_cols = list(sensor_df.columns) # everything kinematic file
        for c in ['status', 'time']: # excluding these columns
            sensor_cols.remove(c)
        print (sensor_cols)
        
        # interpolate selected columns in place
        #col_inter = merged_df['x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

        for c in sensor_cols:
            merged_df[c].interpolate(inplace=True, method='index')
        #merged_df.interpolate(inplace=True, method='index')
        
        # exclude rows without frame numbers, i.e., NaN 
        #merged_df = merged_df[merged_df.frame.apply(lambda f: f >= 0)]

        merged_df = merged_df[merged_df['frame'].notna()]

        merged_df.insert(0, 'sensor_num', sensor_num * np.ones(len(merged_df), dtype=np.uint8))

        display(merged_df)

        merged_dfs.append(merged_df)

        # Save the DataFrame to a CSV file
        video = int(row['video_id'])
        output = Path(f'''{video}_{sensor_num}.csv''')
        # delete output csv if already exists
        if output.exists():
            output.unlink() 
        merged_df.to_csv(output, index=False)
    # end of loop over sensors
    # ???
    all_df = pd.concat(merged_dfs)
    display(all_df)
# end of loop over videos

891038.txt
D:/Kinematic_data/891038.txt
                      time  frame
0      1.6662120631000e+09      0
1      1.6662120631333e+09      1
2      1.6662120631667e+09      2
3      1.6662120632000e+09      3
4      1.6662120632333e+09      4
...                    ...    ...
22497  1.6662128130000e+09  22497
22498  1.6662128130333e+09  22498
22499  1.6662128130667e+09  22499
22500  1.6662128131000e+09  22500
22501  1.6662128131333e+09  22501

[22502 rows x 2 columns]
           name  status        x        y        z  azimuth  elevation  \
0      Sensor1:  0x0000  476.176 -181.384 -359.085  -81.712    -40.645
1      Sensor1:  0x0000  477.962 -183.728 -364.889  -82.008    -42.335
2      Sensor1:  0x0000  479.301 -187.077 -371.140  -82.362    -43.858
3      Sensor1:  0x0000  481.087 -190.091 -376.275  -82.761    -45.371
4      Sensor1:  0x0000  483.877 -191.877 -381.409  -82.999    -46.752
...         ...     ...      ...      ...      ...      ...        ...
90337  Sensor1:  0x1001  914.288 -400.831   23.552  170.795    -14.962
90338  Sensor1:  0x1001  914.288 -400.831   27.794  170.683    -15.005
90339  Sensor1:  0x1001  914.288 -398.599   28.910  170.752    -15.433
90340  Sensor1:  0x1001  914.288 -394.246   32.928  171.111    -15.636
90341  Sensor1:  0x1001  914.288 -391.567   35.049  171.296    -16.094

          roll  button  quality                 time
0      -85.866       0        3  1.6662111630840e+09
1      -84.152       0        3  1.6662111630940e+09
2      -82.715       0        3  1.6662111631040e+09
3      -81.102       0        3  1.6662111631140e+09
4      -79.457       0        3  1.6662111631240e+09
...        ...     ...      ...                  ...
90337 -150.419       0       16  1.6662129131910e+09
90338 -151.242       0       16  1.6662129132010e+09
90339 -152.101       0       16  1.6662129132110e+09
90340 -153.035       0       17  1.6662129132210e+09
90341 -153.907       0       17  1.6662129132300e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112387,1.6662129131910e+09,NaN,Sensor1:,0x1001,914.288,-400.831,23.552,170.795,-14.962,-150.419,0.0,16.0
112388,1.6662129132010e+09,NaN,Sensor1:,0x1001,914.288,-400.831,27.794,170.683,-15.005,-151.242,0.0,16.0
112389,1.6662129132110e+09,NaN,Sensor1:,0x1001,914.288,-398.599,28.910,170.752,-15.433,-152.101,0.0,16.0
112390,1.6662129132210e+09,NaN,Sensor1:,0x1001,914.288,-394.246,32.928,171.111,-15.636,-153.035,0.0,17.0
112391,1.6662129132300e+09,NaN,Sensor1:,0x1001,914.288,-391.567,35.049,171.296,-16.094,-153.907,0.0,17.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630840e+09,NaN,Sensor1:,0x0000,476.176,-181.384,-359.085,-81.712,-40.645,-85.866,0.0,3.0
1.6662111630940e+09,NaN,Sensor1:,0x0000,477.962,-183.728,-364.889,-82.008,-42.335,-84.152,0.0,3.0
1.6662111631040e+09,NaN,Sensor1:,0x0000,479.301,-187.077,-371.140,-82.362,-43.858,-82.715,0.0,3.0
1.6662111631140e+09,NaN,Sensor1:,0x0000,481.087,-190.091,-376.275,-82.761,-45.371,-81.102,0.0,3.0
1.6662111631240e+09,NaN,Sensor1:,0x0000,483.877,-191.877,-381.409,-82.999,-46.752,-79.457,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131910e+09,NaN,Sensor1:,0x1001,914.288,-400.831,23.552,170.795,-14.962,-150.419,0.0,16.0
1.6662129132010e+09,NaN,Sensor1:,0x1001,914.288,-400.831,27.794,170.683,-15.005,-151.242,0.0,16.0
1.6662129132110e+09,NaN,Sensor1:,0x1001,914.288,-398.599,28.910,170.752,-15.433,-152.101,0.0,16.0
1.6662129132210e+09,NaN,Sensor1:,0x1001,914.288,-394.246,32.928,171.111,-15.636,-153.035,0.0,17.0
1.6662129132300e+09,NaN,Sensor1:,0x1001,914.288,-391.567,35.049,171.296,-16.094,-153.907,0.0,17.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,1,0.0,NaN,NaN,914.288000000000,-288.3841978637675,-120.9752042533915,-47.8262035858188,-24.1979980926495,134.2385973106359,0.0,12.0000000000000
1.6662120631333e+09,1,1.0,NaN,NaN,914.288000000000,-287.1708900889302,-119.6204212860310,-47.2757381207830,-24.6590618219965,134.5606654268889,0.0,11.0000000000000
1.6662120631667e+09,1,2.0,NaN,NaN,914.288000000000,-281.1960383377441,-111.4948809098062,-46.3881383305915,-26.1698522280237,135.0957284886632,0.0,10.7333524068379
1.6662120632000e+09,1,3.0,NaN,NaN,914.288000000000,-277.1776063705505,-100.4588425720621,-45.8092013923658,-28.6147860191212,135.7323983024581,0.0,10.0000000000000
1.6662120632333e+09,1,4.0,NaN,NaN,914.288000000000,-277.8026682640727,-97.0063994707102,-45.6483331664402,-30.8487364280094,135.2499319791145,0.0,10.0000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,1,22497.0,NaN,NaN,393.688000000000,-502.0720000000000,-47.8183994707102,66.0360000953675,-65.7624000190735,52.9671999380111,0.0,4.0000000000000
1.6662128130333e+09,1,22498.0,NaN,NaN,393.688000000000,-502.2875338673915,-47.5510000000000,66.0904000429154,-65.7365999570846,52.8931332522709,0.0,4.0000000000000
1.6662128130667e+09,1,22499.0,NaN,NaN,393.576000000000,-502.2950000000000,-47.4091327992752,66.0656665712991,-65.7322666714350,52.9098000858308,0.0,4.0000000000000
1.6662128131000e+09,1,22500.0,NaN,NaN,393.397402117159,-502.0720000000000,-47.3270000000000,66.0210003814701,-65.7509999046325,52.9919993324273,0.0,4.0000000000000
1.6662128131333e+09,1,22501.0,NaN,NaN,393.353000000000,-502.0645311971008,-47.5435311971008,65.9135346303316,-65.8115329137162,53.1134656557709,0.0,4.0000000000000

           name  status        x        y        z  azimuth  elevation  \
0      Sensor2:  0x0000  497.272 -111.398 -388.441  -92.739    -39.511
1      Sensor2:  0x0000  500.174 -113.630 -395.362  -94.172    -41.695
2      Sensor2:  0x0000  502.295 -116.979 -401.278  -95.707    -43.790
3      Sensor2:  0x0000  504.974 -119.658 -407.305  -97.012    -45.650
4      Sensor2:  0x0000  506.537 -122.225 -414.226  -97.944    -47.482
...         ...     ...      ...      ...      ...      ...        ...
90337  Sensor2:  0x1001  914.288 -348.928   51.122  122.489    -12.700
90338  Sensor2:  0x1001  914.288 -350.602   58.824  122.075    -13.080
90339  Sensor2:  0x1001  914.288 -352.723   63.178  121.632    -13.821
90340  Sensor2:  0x1001  914.288 -351.383   67.308  121.505    -14.514
90341  Sensor2:  0x1001  914.288 -350.825   71.103  121.412    -15.158

          roll  button  quality                 time
0       57.316       0        5  1.6662111630840e+09
1       58.296       0        5  1.6662111630940e+09
2       59.166       0        5  1.6662111631040e+09
3       60.054       0        6  1.6662111631140e+09
4       60.494       0        6  1.6662111631240e+09
...        ...     ...      ...                  ...
90337 -124.012       0       22  1.6662129131910e+09
90338 -124.296       0       23  1.6662129132010e+09
90339 -124.583       0       23  1.6662129132110e+09
90340 -124.748       0       23  1.6662129132210e+09
90341 -124.832       0       23  1.6662129132300e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112387,1.6662129131910e+09,NaN,Sensor2:,0x1001,914.288,-348.928,51.122,122.489,-12.700,-124.012,0.0,22.0
112388,1.6662129132010e+09,NaN,Sensor2:,0x1001,914.288,-350.602,58.824,122.075,-13.080,-124.296,0.0,23.0
112389,1.6662129132110e+09,NaN,Sensor2:,0x1001,914.288,-352.723,63.178,121.632,-13.821,-124.583,0.0,23.0
112390,1.6662129132210e+09,NaN,Sensor2:,0x1001,914.288,-351.383,67.308,121.505,-14.514,-124.748,0.0,23.0
112391,1.6662129132300e+09,NaN,Sensor2:,0x1001,914.288,-350.825,71.103,121.412,-15.158,-124.832,0.0,23.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630840e+09,NaN,Sensor2:,0x0000,497.272,-111.398,-388.441,-92.739,-39.511,57.316,0.0,5.0
1.6662111630940e+09,NaN,Sensor2:,0x0000,500.174,-113.630,-395.362,-94.172,-41.695,58.296,0.0,5.0
1.6662111631040e+09,NaN,Sensor2:,0x0000,502.295,-116.979,-401.278,-95.707,-43.790,59.166,0.0,5.0
1.6662111631140e+09,NaN,Sensor2:,0x0000,504.974,-119.658,-407.305,-97.012,-45.650,60.054,0.0,6.0
1.6662111631240e+09,NaN,Sensor2:,0x0000,506.537,-122.225,-414.226,-97.944,-47.482,60.494,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131910e+09,NaN,Sensor2:,0x1001,914.288,-348.928,51.122,122.489,-12.700,-124.012,0.0,22.0
1.6662129132010e+09,NaN,Sensor2:,0x1001,914.288,-350.602,58.824,122.075,-13.080,-124.296,0.0,23.0
1.6662129132110e+09,NaN,Sensor2:,0x1001,914.288,-352.723,63.178,121.632,-13.821,-124.583,0.0,23.0
1.6662129132210e+09,NaN,Sensor2:,0x1001,914.288,-351.383,67.308,121.505,-14.514,-124.748,0.0,23.0
1.6662129132300e+09,NaN,Sensor2:,0x1001,914.288,-350.825,71.103,121.412,-15.158,-124.832,0.0,23.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,2,0.0,NaN,NaN,914.2880000000000,-219.3354212860310,21.1184276756551,-162.4864148010395,-60.8062030136137,-155.3603913406290,0.0,16.0
1.6662120631333e+09,2,1.0,NaN,NaN,914.2880000000000,-217.2373397229574,15.6266986147867,-160.1556124740719,-60.3413362897265,-156.5604599337196,0.0,16.0
1.6662120631667e+09,2,2.0,NaN,NaN,914.2880000000000,-221.5972326013876,7.4415759244689,-159.2255332951863,-60.3561991989128,-157.1994658465060,0.0,16.0
1.6662120632000e+09,2,3.0,NaN,NaN,914.2880000000000,-227.9975659347209,-0.2675595450969,-159.5613970626803,-60.6431986267077,-157.1122012969983,0.0,16.0
1.6662120632333e+09,2,4.0,NaN,NaN,914.2880000000000,-233.1912735855804,-9.3019466418711,-160.1441343966812,-61.0092671482727,-156.7975993133539,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,2,22497.0,NaN,NaN,370.8050000000000,-449.1630000000000,-68.6470000000000,-156.3426000762940,-66.9150000000000,-88.7473998283385,0.0,4.0
1.6662128130333e+09,2,22498.0,NaN,NaN,370.9170000000000,-449.0520000000000,-68.5350000000000,-156.3549334096273,-66.9150000000000,-88.6802665760675,0.0,4.0
1.6662128130667e+09,2,22499.0,NaN,NaN,370.8050000000000,-448.9400000000000,-68.5648672007248,-156.4025334143957,-66.9198000858308,-88.5981331569034,0.0,4.0
1.6662128131000e+09,2,22500.0,NaN,NaN,370.6268021362325,-449.0071978637675,-68.6470000000000,-156.5265987411487,-66.9431996757504,-88.4846010299692,0.0,4.0
1.6662128131333e+09,2,22501.0,NaN,NaN,370.3590000000000,-449.1555978828410,-68.5350000000000,-156.6741991989128,-66.9680000000000,-88.3564006866462,0.0,4.0

           name  status        x        y        z  azimuth  elevation  \
0      Sensor3:  0x0000  522.722 -202.481 -355.960 -146.912    -35.405
1      Sensor3:  0x0000  523.949 -204.378 -361.541 -147.323    -35.731
2      Sensor3:  0x0000  525.066 -206.387 -367.903 -147.699    -36.163
3      Sensor3:  0x0000  526.293 -207.838 -372.480 -148.135    -36.502
4      Sensor3:  0x0000  527.745 -209.848 -375.940 -148.616    -36.859
...         ...     ...      ...      ...      ...      ...        ...
90337  Sensor3:  0x1001  914.288 -398.152   36.500  166.023     68.291
90338  Sensor3:  0x1001  914.288 -393.688   43.197  164.785     68.291
90339  Sensor3:  0x1001  914.288 -392.460   46.881  163.394     68.047
90340  Sensor3:  0x1001  914.288 -389.000   49.337  162.193     67.639
90341  Sensor3:  0x1001  914.288 -381.744   50.341  161.508     67.076

          roll  button  quality                 time
0      -84.482       0        3  1.6662111630840e+09
1      -83.550       0        3  1.6662111630940e+09
2      -82.729       0        3  1.6662111631040e+09
3      -81.661       0        3  1.6662111631140e+09
4      -80.551       0        3  1.6662111631240e+09
...        ...     ...      ...                  ...
90337 -160.860       0       21  1.6662129131910e+09
90338 -162.145       0       21  1.6662129132010e+09
90339 -163.258       0       22  1.6662129132110e+09
90340 -164.497       0       22  1.6662129132210e+09
90341 -165.537       0       22  1.6662129132300e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112387,1.6662129131910e+09,NaN,Sensor3:,0x1001,914.288,-398.152,36.500,166.023,68.291,-160.860,0.0,21.0
112388,1.6662129132010e+09,NaN,Sensor3:,0x1001,914.288,-393.688,43.197,164.785,68.291,-162.145,0.0,21.0
112389,1.6662129132110e+09,NaN,Sensor3:,0x1001,914.288,-392.460,46.881,163.394,68.047,-163.258,0.0,22.0
112390,1.6662129132210e+09,NaN,Sensor3:,0x1001,914.288,-389.000,49.337,162.193,67.639,-164.497,0.0,22.0
112391,1.6662129132300e+09,NaN,Sensor3:,0x1001,914.288,-381.744,50.341,161.508,67.076,-165.537,0.0,22.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630840e+09,NaN,Sensor3:,0x0000,522.722,-202.481,-355.960,-146.912,-35.405,-84.482,0.0,3.0
1.6662111630940e+09,NaN,Sensor3:,0x0000,523.949,-204.378,-361.541,-147.323,-35.731,-83.550,0.0,3.0
1.6662111631040e+09,NaN,Sensor3:,0x0000,525.066,-206.387,-367.903,-147.699,-36.163,-82.729,0.0,3.0
1.6662111631140e+09,NaN,Sensor3:,0x0000,526.293,-207.838,-372.480,-148.135,-36.502,-81.661,0.0,3.0
1.6662111631240e+09,NaN,Sensor3:,0x0000,527.745,-209.848,-375.940,-148.616,-36.859,-80.551,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131910e+09,NaN,Sensor3:,0x1001,914.288,-398.152,36.500,166.023,68.291,-160.860,0.0,21.0
1.6662129132010e+09,NaN,Sensor3:,0x1001,914.288,-393.688,43.197,164.785,68.291,-162.145,0.0,21.0
1.6662129132110e+09,NaN,Sensor3:,0x1001,914.288,-392.460,46.881,163.394,68.047,-163.258,0.0,22.0
1.6662129132210e+09,NaN,Sensor3:,0x1001,914.288,-389.000,49.337,162.193,67.639,-164.497,0.0,22.0
1.6662129132300e+09,NaN,Sensor3:,0x1001,914.288,-381.744,50.341,161.508,67.076,-165.537,0.0,22.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,3,0.0,NaN,NaN,914.2880000000000,-282.7357893569845,-110.4379808311280,-170.1662042533915,-11.9900009536752,-174.6081992942803,0.0,12.0000000000000
1.6662120631333e+09,3,1.0,NaN,NaN,914.2880000000000,-284.9981099110698,-113.8905787139690,-169.4667366902702,-11.8634668001812,-174.6264004005436,0.0,12.0000000000000
1.6662120631667e+09,3,2.0,NaN,NaN,914.2880000000000,-287.3796538874187,-118.0279808311280,-168.9371357556684,-11.9991989128102,-174.4410688791932,0.0,11.7333524068379
1.6662120632000e+09,3,3.0,NaN,NaN,914.2880000000000,-287.4242106430156,-119.3453957275350,-168.4610027656582,-11.9728001335145,-173.9572042533915,0.0,11.0000000000000
1.6662120632333e+09,3,4.0,NaN,NaN,914.2880000000000,-284.1503946784923,-119.9408703955368,-167.9684661326085,-11.8736669050855,-172.9409313353837,0.0,11.9333381017095
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,3,22497.0,NaN,NaN,432.0850000000000,-504.7510000000000,-99.4540000000000,-109.2290000000000,-19.2660000000000,-151.3442000333786,0.0,2.0000000000000
1.6662128130333e+09,3,22498.0,NaN,NaN,432.0924661326085,-504.7510000000000,-99.4466005292897,-109.2154666332880,-19.2665332951863,-151.3563333810171,0.0,2.0000000000000
1.6662128130667e+09,3,22499.0,NaN,NaN,432.1970000000000,-504.7211327992752,-99.5660000000000,-109.1847332570393,-19.2440000000000,-151.3770000000000,0.0,2.0000000000000
1.6662128131000e+09,3,22500.0,NaN,NaN,432.1970000000000,-504.5270000000000,-99.4988021362325,-109.1490000000000,-19.2510000000000,-151.3574003051761,0.0,2.0000000000000
1.6662128131333e+09,3,22501.0,NaN,NaN,431.9814021171590,-504.4160000000000,-99.2384688028992,-109.1485331998188,-19.2590000000000,-151.3246668574017,0.0,2.0000000000000

           name  status        x        y        z  azimuth  elevation  \
0      Sensor4:  0x0000  249.696 -443.136 -399.492  -95.595    -33.111
1      Sensor4:  0x0000  249.027 -443.024 -402.506  -95.211    -35.456
2      Sensor4:  0x0000  248.915 -442.689 -405.631  -94.716    -37.686
3      Sensor4:  0x0000  249.250 -443.582 -408.087  -94.258    -39.984
4      Sensor4:  0x0000  249.027 -444.029 -410.989  -93.859    -42.108
...         ...     ...      ...      ...      ...      ...        ...
90337  Sensor4:  0x0000  117.649 -682.675   11.609  -78.344     -0.189
90338  Sensor4:  0x0000  114.188 -687.586   12.613  -77.017      1.266
90339  Sensor4:  0x0000  109.500 -692.721   16.408  -76.037      2.386
90340  Sensor4:  0x0000  105.482 -697.967   19.199  -75.117      3.604
90341  Sensor4:  0x0000  102.357 -703.436   20.315  -74.138      5.183

          roll  button  quality                 time
0       67.049       0        2  1.6662111630840e+09
1       66.159       0        2  1.6662111630940e+09
2       65.266       0        2  1.6662111631040e+09
3       64.476       0        2  1.6662111631140e+09
4       63.663       0        2  1.6662111631240e+09
...        ...     ...      ...                  ...
90337 -136.617       0        6  1.6662129131910e+09
90338 -136.563       0        6  1.6662129132010e+09
90339 -136.455       0        6  1.6662129132110e+09
90340 -136.363       0        6  1.6662129132210e+09
90341 -136.356       0        5  1.6662129132300e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112387,1.6662129131910e+09,NaN,Sensor4:,0x0000,117.649,-682.675,11.609,-78.344,-0.189,-136.617,0.0,6.0
112388,1.6662129132010e+09,NaN,Sensor4:,0x0000,114.188,-687.586,12.613,-77.017,1.266,-136.563,0.0,6.0
112389,1.6662129132110e+09,NaN,Sensor4:,0x0000,109.500,-692.721,16.408,-76.037,2.386,-136.455,0.0,6.0
112390,1.6662129132210e+09,NaN,Sensor4:,0x0000,105.482,-697.967,19.199,-75.117,3.604,-136.363,0.0,6.0
112391,1.6662129132300e+09,NaN,Sensor4:,0x0000,102.357,-703.436,20.315,-74.138,5.183,-136.356,0.0,5.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630840e+09,NaN,Sensor4:,0x0000,249.696,-443.136,-399.492,-95.595,-33.111,67.049,0.0,2.0
1.6662111630940e+09,NaN,Sensor4:,0x0000,249.027,-443.024,-402.506,-95.211,-35.456,66.159,0.0,2.0
1.6662111631040e+09,NaN,Sensor4:,0x0000,248.915,-442.689,-405.631,-94.716,-37.686,65.266,0.0,2.0
1.6662111631140e+09,NaN,Sensor4:,0x0000,249.250,-443.582,-408.087,-94.258,-39.984,64.476,0.0,2.0
1.6662111631240e+09,NaN,Sensor4:,0x0000,249.027,-444.029,-410.989,-93.859,-42.108,63.663,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131910e+09,NaN,Sensor4:,0x0000,117.649,-682.675,11.609,-78.344,-0.189,-136.617,0.0,6.0
1.6662129132010e+09,NaN,Sensor4:,0x0000,114.188,-687.586,12.613,-77.017,1.266,-136.563,0.0,6.0
1.6662129132110e+09,NaN,Sensor4:,0x0000,109.500,-692.721,16.408,-76.037,2.386,-136.455,0.0,6.0
1.6662129132210e+09,NaN,Sensor4:,0x0000,105.482,-697.967,19.199,-75.117,3.604,-136.363,0.0,6.0
1.6662129132300e+09,NaN,Sensor4:,0x0000,102.357,-703.436,20.315,-74.138,5.183,-136.356,0.0,5.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,4,0.0,NaN,NaN,724.7114085067831,-285.4377957466085,-138.6781914741435,-166.2382011062633,-3.6641998664855,-98.5260000000000,0.0,6.0
1.6662120631333e+09,4,1.0,NaN,NaN,724.1008709200581,-286.7251914741435,-139.6231290799418,-166.0799338864650,-3.6935995994564,-98.5138005149846,0.0,6.0
1.6662120631667e+09,4,2.0,NaN,NaN,723.5506730562906,-287.3425978828410,-140.2853269437093,-165.9139345540376,-3.7599322652171,-98.4622666475932,0.0,6.0
1.6662120632000e+09,4,3.0,NaN,NaN,722.6126042724650,-288.3173893379110,-141.1113957275350,-165.7558007057197,-3.9101991989128,-98.4710000000000,0.0,6.0
1.6662120632333e+09,4,4.0,NaN,NaN,722.3970677347829,-290.3933365281453,-141.4240000000000,-165.6769331950504,-3.9909332665761,-98.4248665331521,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,4,22497.0,NaN,NaN,325.0629984025940,-204.3336005292898,-356.9868010633479,-179.4201996042248,-52.7124008773812,-126.4022006055838,0.0,2.0
1.6662128130333e+09,4,22498.0,NaN,NaN,324.3784661326085,-203.9393994707102,-357.6191343966812,-178.8791992704384,-53.1406003862385,-126.9898008010872,0.0,2.0
1.6662128130667e+09,4,22499.0,NaN,NaN,324.1480000000000,-203.0091327992752,-358.4747344014496,-178.3359994993205,-53.2367999427795,-127.5836006008154,0.0,2.0
1.6662128131000e+09,4,22500.0,NaN,NaN,324.2145978828410,-202.1680063896240,-359.3531914741434,-177.9024032615693,-53.1094015449539,-128.0981959564170,0.0,2.0
1.6662128131333e+09,4,22501.0,NaN,NaN,324.3710000000000,-200.0696794459147,-361.7119184369263,-177.0755377774599,-52.6460028610257,-129.1743271344444,0.0,2.0

           name  status        x        y        z  azimuth  elevation  \
0      Sensor5:  0x0000  231.949 -353.058 -387.548   48.418      2.512
1      Sensor5:  0x0000  228.935 -350.713 -391.232   52.500      2.904
2      Sensor5:  0x0000  225.475 -348.593 -395.027   56.300      3.324
3      Sensor5:  0x0000  222.572 -346.137 -399.045   59.934      3.716
4      Sensor5:  0x0000  219.782 -343.905 -403.064   63.316      4.144
...         ...     ...      ...      ...      ...      ...        ...
90337  Sensor5:  0x0000   77.800 -657.225   30.473   75.345    -50.675
90338  Sensor5:  0x0000   72.554 -663.587   34.044   76.333    -52.052
90339  Sensor5:  0x0000   67.531 -670.061   36.054   77.044    -53.710
90340  Sensor5:  0x0000   63.289 -676.647   39.737   77.689    -55.226
90341  Sensor5:  0x0000   60.164 -683.121   44.537   78.510    -56.637

          roll  button  quality                 time
0     -159.187       0        3  1.6662111630050e+09
1     -159.151       0        3  1.6662111630150e+09
2     -158.970       0        3  1.6662111630250e+09
3     -158.705       0        2  1.6662111630350e+09
4     -158.446       0        2  1.6662111630450e+09
...        ...     ...      ...                  ...
90337  154.492       0        4  1.6662129131050e+09
90338  154.870       0        4  1.6662129131150e+09
90339  155.444       0        4  1.6662129131250e+09
90340  156.014       0        4  1.6662129131350e+09
90341  156.372       0        4  1.6662129131450e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112386,1.6662129131050e+09,NaN,Sensor5:,0x0000,77.800,-657.225,30.473,75.345,-50.675,154.492,0.0,4.0
112387,1.6662129131150e+09,NaN,Sensor5:,0x0000,72.554,-663.587,34.044,76.333,-52.052,154.870,0.0,4.0
112388,1.6662129131250e+09,NaN,Sensor5:,0x0000,67.531,-670.061,36.054,77.044,-53.710,155.444,0.0,4.0
112389,1.6662129131350e+09,NaN,Sensor5:,0x0000,63.289,-676.647,39.737,77.689,-55.226,156.014,0.0,4.0
112390,1.6662129131450e+09,NaN,Sensor5:,0x0000,60.164,-683.121,44.537,78.510,-56.637,156.372,0.0,4.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630050e+09,NaN,Sensor5:,0x0000,231.949,-353.058,-387.548,48.418,2.512,-159.187,0.0,3.0
1.6662111630150e+09,NaN,Sensor5:,0x0000,228.935,-350.713,-391.232,52.500,2.904,-159.151,0.0,3.0
1.6662111630250e+09,NaN,Sensor5:,0x0000,225.475,-348.593,-395.027,56.300,3.324,-158.970,0.0,3.0
1.6662111630350e+09,NaN,Sensor5:,0x0000,222.572,-346.137,-399.045,59.934,3.716,-158.705,0.0,2.0
1.6662111630450e+09,NaN,Sensor5:,0x0000,219.782,-343.905,-403.064,63.316,4.144,-158.446,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131050e+09,NaN,Sensor5:,0x0000,77.800,-657.225,30.473,75.345,-50.675,154.492,0.0,4.0
1.6662129131150e+09,NaN,Sensor5:,0x0000,72.554,-663.587,34.044,76.333,-52.052,154.870,0.0,4.0
1.6662129131250e+09,NaN,Sensor5:,0x0000,67.531,-670.061,36.054,77.044,-53.710,155.444,0.0,4.0
1.6662129131350e+09,NaN,Sensor5:,0x0000,63.289,-676.647,39.737,77.689,-55.226,156.014,0.0,4.0
1.6662129131450e+09,NaN,Sensor5:,0x0000,60.164,-683.121,44.537,78.510,-56.637,156.372,0.0,4.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,5,0.0,NaN,NaN,744.6488928448435,-232.3577718615063,-133.9450000000000,57.0597763119553,-35.4087783782352,41.5240006357784,0.0,9.0
1.6662120631333e+09,5,1.0,NaN,NaN,745.0110296116158,-232.9791314641299,-134.8051610757457,57.3100988484372,-35.2938339174594,41.5412659323367,0.0,8.0
1.6662120631667e+09,5,2.0,NaN,NaN,745.4541018525141,-233.7642925398756,-135.8092610924350,57.4401667501132,-35.2012671005889,41.6663324988675,0.0,8.0
1.6662120632000e+09,5,3.0,NaN,NaN,744.6575055909210,-235.2411906873614,-136.6016962782824,57.4224002336504,-35.1497002837184,41.8002993824953,0.0,8.0
1.6662120632333e+09,5,4.0,NaN,NaN,743.5938658655795,-234.7797610805140,-136.8210992060654,57.6075676036526,-35.1668667238872,42.0102005579000,0.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,5,22497.0,NaN,NaN,348.9280000000000,-139.6045023961090,-346.3711991989128,-24.0776996638295,-6.7453998998641,146.8021989128102,0.0,2.0
1.6662128130333e+09,5,22498.0,NaN,NaN,349.3590650644923,-138.3912039911308,-346.6800650644923,-24.2477330901462,-6.8852329828577,147.4197650859500,0.0,2.0
1.6662128130667e+09,5,22499.0,NaN,NaN,349.9919650716449,-136.7542039911308,-347.4239650716448,-24.3880664234795,-7.0052331259090,148.1229318599051,0.0,2.0
1.6662128131000e+09,5,22500.0,NaN,NaN,350.0550992060653,-135.3737015950218,-348.6152984049782,-24.6064993920320,-7.0287997997282,148.6903988269795,0.0,2.0
1.6662128131333e+09,5,22501.0,NaN,NaN,350.3636317383115,-134.6299349355077,-349.6455325322461,-24.9748990773192,-7.1276995923038,149.1562991202346,0.0,2.0

           name  status        x                  y        z  azimuth  \
0      Sensor6:  0x0000  208.062 -467.5810000000000 -368.684   72.671
1      Sensor6:  0x0000  207.727 -465.7950000000000 -371.140   72.204
2      Sensor6:  0x0000  207.727 -464.2320000000000 -373.819   71.690
3      Sensor6:  0x0000  207.950 -462.8930000000000 -376.386   71.237
4      Sensor6:  0x0000  208.508 -461.1070000000000 -379.177   70.913
...         ...     ...      ...                ...      ...      ...
90337  Sensor6:  0x0000  134.838 -723.8630000000001  -31.254   35.180
90338  Sensor6:  0x0000  127.471 -728.6620000000000  -31.700   36.564
90339  Sensor6:  0x0000  123.006 -732.3460000000000  -30.584   38.178
90340  Sensor6:  0x0000  122.002 -736.4760000000000  -28.910   40.062
90341  Sensor6:  0x0000  115.863 -740.8290000000000  -28.910   41.231

       elevation     roll  button  quality                 time
0         31.105 -130.351       0        3  1.6662111630050e+09
1         31.563 -130.648       0        3  1.6662111630150e+09
2         32.057 -131.006       0        3  1.6662111630250e+09
3         32.628 -131.362       0        3  1.6662111630350e+09
4         33.136 -131.661       0        3  1.6662111630450e+09
...          ...      ...     ...      ...                  ...
90337     28.628 -171.886       0        5  1.6662129131050e+09
90338     27.890 -170.461       0        5  1.6662129131150e+09
90339     27.188 -169.253       0        5  1.6662129131250e+09
90340     26.553 -168.037       0        5  1.6662129131350e+09
90341     25.719 -166.579       0        5  1.6662129131450e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112386,1.6662129131050e+09,NaN,Sensor6:,0x0000,134.838,-723.8630000000001,-31.254,35.180,28.628,-171.886,0.0,5.0
112387,1.6662129131150e+09,NaN,Sensor6:,0x0000,127.471,-728.6620000000000,-31.700,36.564,27.890,-170.461,0.0,5.0
112388,1.6662129131250e+09,NaN,Sensor6:,0x0000,123.006,-732.3460000000000,-30.584,38.178,27.188,-169.253,0.0,5.0
112389,1.6662129131350e+09,NaN,Sensor6:,0x0000,122.002,-736.4760000000000,-28.910,40.062,26.553,-168.037,0.0,5.0
112390,1.6662129131450e+09,NaN,Sensor6:,0x0000,115.863,-740.8290000000000,-28.910,41.231,25.719,-166.579,0.0,5.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630050e+09,NaN,Sensor6:,0x0000,208.062,-467.5810000000000,-368.684,72.671,31.105,-130.351,0.0,3.0
1.6662111630150e+09,NaN,Sensor6:,0x0000,207.727,-465.7950000000000,-371.140,72.204,31.563,-130.648,0.0,3.0
1.6662111630250e+09,NaN,Sensor6:,0x0000,207.727,-464.2320000000000,-373.819,71.690,32.057,-131.006,0.0,3.0
1.6662111630350e+09,NaN,Sensor6:,0x0000,207.950,-462.8930000000000,-376.386,71.237,32.628,-131.362,0.0,3.0
1.6662111630450e+09,NaN,Sensor6:,0x0000,208.508,-461.1070000000000,-379.177,70.913,33.136,-131.661,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131050e+09,NaN,Sensor6:,0x0000,134.838,-723.8630000000001,-31.254,35.180,28.628,-171.886,0.0,5.0
1.6662129131150e+09,NaN,Sensor6:,0x0000,127.471,-728.6620000000000,-31.700,36.564,27.890,-170.461,0.0,5.0
1.6662129131250e+09,NaN,Sensor6:,0x0000,123.006,-732.3460000000000,-30.584,38.178,27.188,-169.253,0.0,5.0
1.6662129131350e+09,NaN,Sensor6:,0x0000,122.002,-736.4760000000000,-28.910,40.062,26.553,-168.037,0.0,5.0
1.6662129131450e+09,NaN,Sensor6:,0x0000,115.863,-740.8290000000000,-28.910,41.231,25.719,-166.579,0.0,5.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,6,0.0,NaN,NaN,686.3827817160719,-331.1552182839280,-172.5660000000000,-67.2842230522663,-4.5494441971973,171.6669995231662,0.0,6.0000000000000
1.6662120631333e+09,6,1.0,NaN,NaN,685.6621018525141,-331.9871314641299,-172.5921314641299,-67.1133010514269,-4.5720000000000,171.6621334668478,0.0,6.2333166440169
1.6662120631667e+09,6,2.0,NaN,NaN,685.7514647974632,-332.1840000000000,-172.2017074601245,-66.8572012016308,-4.6557658488902,171.6239665498415,0.0,7.0000000000000
1.6662120632000e+09,6,3.0,NaN,NaN,685.8112018692034,-333.0323925565648,-171.0374055742317,-66.7093003838543,-4.8003993991846,171.5898001335145,0.0,7.0000000000000
1.6662120632333e+09,6,4.0,NaN,NaN,684.9408309372243,-335.0193381255514,-170.9440349283551,-66.6328665093103,-4.7869663591064,171.3851660586987,0.0,7.0000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,6,22497.0,NaN,NaN,268.1140000000000,-223.9008008010872,-349.9766968028038,-72.1397003790859,30.0657999427795,140.5405999570846,0.0,1.0000000000000
1.6662128130333e+09,6,22498.0,NaN,NaN,268.0173682616885,-222.7137365233770,-352.3764928116730,-71.8579003647808,30.1376995923038,140.5350002145769,0.0,1.0000000000000
1.6662128130667e+09,6,22499.0,NaN,NaN,267.5819007939346,-221.4229357222898,-354.7389301432897,-71.6194338983859,30.2302665522256,140.5514330400782,0.0,1.0000000000000
1.6662128131000e+09,6,22500.0,NaN,NaN,267.7790000000000,-220.3065023961090,-356.3507960088692,-71.2876006008154,30.2244001144410,140.7929994277949,0.0,1.0000000000000
1.6662128131333e+09,6,22501.0,NaN,NaN,267.6670000000000,-219.4619349355077,-357.8907309443769,-71.0912003433231,30.1546334549269,140.9588997210500,0.0,1.0000000000000

           name  status        x        y       z  azimuth  elevation  \
0      Sensor7:  0x0000  360.425  114.858  97.780  -79.120      9.294
1      Sensor7:  0x0000  360.425  114.858  97.780  -79.120      9.301
2      Sensor7:  0x0000  360.425  114.858  97.780  -79.120      9.301
3      Sensor7:  0x0000  360.425  114.858  97.780  -79.120      9.301
4      Sensor7:  0x0000  360.425  114.858  97.780  -79.127      9.301
...         ...     ...      ...      ...     ...      ...        ...
90337  Sensor7:  0x0000  360.090  118.318  97.892  -78.449      9.450
90338  Sensor7:  0x0000  360.090  118.318  97.892  -78.449      9.450
90339  Sensor7:  0x0000  360.090  118.318  97.892  -78.443      9.450
90340  Sensor7:  0x0000  360.090  118.318  97.892  -78.443      9.450
90341  Sensor7:  0x0000  360.090  118.318  97.892  -78.443      9.450

          roll  button  quality                 time
0      130.525       0       17  1.6662111630050e+09
1      130.525       0       17  1.6662111630150e+09
2      130.525       0       17  1.6662111630250e+09
3      130.525       0       17  1.6662111630350e+09
4      130.525       0       17  1.6662111630450e+09
...        ...     ...      ...                  ...
90337  130.734       0       18  1.6662129131050e+09
90338  130.744       0       18  1.6662129131150e+09
90339  130.744       0       18  1.6662129131250e+09
90340  130.744       0       18  1.6662129131350e+09
90341  130.744       0       18  1.6662129131450e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112386,1.6662129131050e+09,NaN,Sensor7:,0x0000,360.09,118.318,97.892,-78.449,9.45,130.734,0.0,18.0
112387,1.6662129131150e+09,NaN,Sensor7:,0x0000,360.09,118.318,97.892,-78.449,9.45,130.744,0.0,18.0
112388,1.6662129131250e+09,NaN,Sensor7:,0x0000,360.09,118.318,97.892,-78.443,9.45,130.744,0.0,18.0
112389,1.6662129131350e+09,NaN,Sensor7:,0x0000,360.09,118.318,97.892,-78.443,9.45,130.744,0.0,18.0
112390,1.6662129131450e+09,NaN,Sensor7:,0x0000,360.09,118.318,97.892,-78.443,9.45,130.744,0.0,18.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630050e+09,NaN,Sensor7:,0x0000,360.425,114.858,97.780,-79.120,9.294,130.525,0.0,17.0
1.6662111630150e+09,NaN,Sensor7:,0x0000,360.425,114.858,97.780,-79.120,9.301,130.525,0.0,17.0
1.6662111630250e+09,NaN,Sensor7:,0x0000,360.425,114.858,97.780,-79.120,9.301,130.525,0.0,17.0
1.6662111630350e+09,NaN,Sensor7:,0x0000,360.425,114.858,97.780,-79.120,9.301,130.525,0.0,17.0
1.6662111630450e+09,NaN,Sensor7:,0x0000,360.425,114.858,97.780,-79.127,9.301,130.525,0.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131050e+09,NaN,Sensor7:,0x0000,360.090,118.318,97.892,-78.449,9.450,130.734,0.0,18.0
1.6662129131150e+09,NaN,Sensor7:,0x0000,360.090,118.318,97.892,-78.449,9.450,130.744,0.0,18.0
1.6662129131250e+09,NaN,Sensor7:,0x0000,360.090,118.318,97.892,-78.443,9.450,130.744,0.0,18.0
1.6662129131350e+09,NaN,Sensor7:,0x0000,360.090,118.318,97.892,-78.443,9.450,130.744,0.0,18.0
1.6662129131450e+09,NaN,Sensor7:,0x0000,360.090,118.318,97.892,-78.443,9.450,130.744,0.0,18.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,7,0.0,NaN,NaN,362.992,116.198,95.5480000000000,-79.568,9.5210000000000,129.667,0.0,15.0
1.6662120631333e+09,7,1.0,NaN,NaN,362.992,116.198,95.5480000000000,-79.575,9.5210000000000,129.661,0.0,15.0
1.6662120631667e+09,7,2.0,NaN,NaN,362.992,116.198,95.5480000000000,-79.575,9.5210000000000,129.661,0.0,15.0
1.6662120632000e+09,7,3.0,NaN,NaN,362.992,116.198,95.5480000000000,-79.582,9.5210000000000,129.657,0.0,15.0
1.6662120632333e+09,7,4.0,NaN,NaN,362.992,116.198,95.5480000000000,-79.582,9.5193666165987,129.657,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,7,22497.0,NaN,NaN,359.866,117.872,96.2170000000000,-78.615,9.4920000000000,130.256,0.0,18.0
1.6662128130333e+09,7,22498.0,NaN,NaN,359.866,117.872,96.2655325322461,-78.615,9.4920000000000,130.256,0.0,18.0
1.6662128130667e+09,7,22499.0,NaN,NaN,359.866,117.872,96.3290000000000,-78.615,9.4920000000000,130.256,0.0,18.0
1.6662128131000e+09,7,22500.0,NaN,NaN,359.866,117.872,96.3290000000000,-78.615,9.4920000000000,130.256,0.0,18.0
1.6662128131333e+09,7,22501.0,NaN,NaN,359.866,117.872,96.2804674677539,-78.615,9.4920000000000,130.256,0.0,18.0

           name  status        x        y       z  azimuth  elevation    roll  \
0      Sensor8:  0x0000  683.568  218.331  41.970    3.696     -0.322  97.188
1      Sensor8:  0x0000  683.568  218.331  41.970    3.696     -0.322  97.188
2      Sensor8:  0x0000  683.568  218.331  41.858    3.696     -0.315  97.188
3      Sensor8:  0x0000  683.679  218.442  41.858    3.696     -0.315  97.181
4      Sensor8:  0x0000  683.679  218.442  41.858    3.689     -0.308  97.181
...         ...     ...      ...      ...     ...      ...        ...     ...
90337  Sensor8:  0x0000  677.540  265.658  60.722    8.716     -2.575  99.170
90338  Sensor8:  0x0000  677.540  265.658  60.722    8.723     -2.582  99.170
90339  Sensor8:  0x0000  677.428  265.770  60.722    8.730     -2.589  99.170
90340  Sensor8:  0x0000  677.428  265.770  60.833    8.737     -2.596  99.177
90341  Sensor8:  0x0000  677.428  265.770  60.833    8.744     -2.603  99.177

       button  quality                 time
0           0        9  1.6662111630050e+09
1           0        9  1.6662111630150e+09
2           0        9  1.6662111630250e+09
3           0        9  1.6662111630350e+09
4           0        9  1.6662111630450e+09
...       ...      ...                  ...
90337       0       20  1.6662129131050e+09
90338       0       20  1.6662129131150e+09
90339       0       20  1.6662129131250e+09
90340       0       20  1.6662129131350e+09
90341       0       20  1.6662129131450e+09

[90342 rows x 11 columns]

,time,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
0,1.6662120631000e+09,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.6662120631333e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.6662120631667e+09,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.6662120632000e+09,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.6662120632333e+09,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
112386,1.6662129131050e+09,NaN,Sensor8:,0x0000,677.540,265.658,60.722,8.716,-2.575,99.170,0.0,20.0
112387,1.6662129131150e+09,NaN,Sensor8:,0x0000,677.540,265.658,60.722,8.723,-2.582,99.170,0.0,20.0
112388,1.6662129131250e+09,NaN,Sensor8:,0x0000,677.428,265.770,60.722,8.730,-2.589,99.170,0.0,20.0
112389,1.6662129131350e+09,NaN,Sensor8:,0x0000,677.428,265.770,60.833,8.737,-2.596,99.177,0.0,20.0
112390,1.6662129131450e+09,NaN,Sensor8:,0x0000,677.428,265.770,60.833,8.744,-2.603,99.177,0.0,20.0

,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,
1.6662111630050e+09,NaN,Sensor8:,0x0000,683.568,218.331,41.970,3.696,-0.322,97.188,0.0,9.0
1.6662111630150e+09,NaN,Sensor8:,0x0000,683.568,218.331,41.970,3.696,-0.322,97.188,0.0,9.0
1.6662111630250e+09,NaN,Sensor8:,0x0000,683.568,218.331,41.858,3.696,-0.315,97.188,0.0,9.0
1.6662111630350e+09,NaN,Sensor8:,0x0000,683.679,218.442,41.858,3.696,-0.315,97.181,0.0,9.0
1.6662111630450e+09,NaN,Sensor8:,0x0000,683.679,218.442,41.858,3.689,-0.308,97.181,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
1.6662129131050e+09,NaN,Sensor8:,0x0000,677.540,265.658,60.722,8.716,-2.575,99.170,0.0,20.0
1.6662129131150e+09,NaN,Sensor8:,0x0000,677.540,265.658,60.722,8.723,-2.582,99.170,0.0,20.0
1.6662129131250e+09,NaN,Sensor8:,0x0000,677.428,265.770,60.722,8.730,-2.589,99.170,0.0,20.0
1.6662129131350e+09,NaN,Sensor8:,0x0000,677.428,265.770,60.833,8.737,-2.596,99.177,0.0,20.0
1.6662129131450e+09,NaN,Sensor8:,0x0000,677.428,265.770,60.833,8.744,-2.603,99.177,0.0,20.0

['name', 'x', 'y', 'z', 'azimuth', 'elevation', 'roll', 'button', 'quality']

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,8,0.0,NaN,NaN,707.6655535775782,245.5660000000000,54.8060000000000,0.8757779014014,-1.5950000000000,96.9020000000000,0.0,11.0
1.6662120631333e+09,8,1.0,NaN,NaN,707.7890000000000,245.5660000000000,54.9180000000000,0.8593667834919,-1.5880000000000,96.9020000000000,0.0,11.0
1.6662120631667e+09,8,2.0,NaN,NaN,707.8524647974632,245.5660000000000,54.9180000000000,0.8430334501585,-1.5810000000000,96.9020000000000,0.0,11.0
1.6662120632000e+09,8,3.0,NaN,NaN,707.9010000000000,245.5660000000000,54.8060000000000,0.8337001168252,-1.5677001168252,96.8950000000000,0.0,11.0
1.6662120632333e+09,8,4.0,NaN,NaN,708.0389007939347,245.5400992060654,54.8060000000000,0.8243666165987,-1.5513666165987,96.8880000000000,0.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,8,22497.0,NaN,NaN,679.8840000000000,263.7610000000000,55.2520000000000,7.8925999570846,-1.9100000000000,98.8960000000000,0.0,17.0
1.6662128130333e+09,8,22498.0,NaN,NaN,679.8840000000000,263.7610000000000,55.2520000000000,7.8980000000000,-1.9100000000000,98.8960000000000,0.0,17.0
1.6662128130667e+09,8,22499.0,NaN,NaN,679.8840000000000,263.7610000000000,55.2520000000000,7.8920000000000,-1.9030000000000,98.8882333404859,0.0,17.0
1.6662128131000e+09,8,22500.0,NaN,NaN,679.9960000000000,263.7610000000000,55.2520000000000,7.8780000000000,-1.8953000500679,98.8810000000000,0.0,17.0
1.6662128131333e+09,8,22501.0,NaN,NaN,679.9960000000000,263.7610000000000,55.2039007939346,7.8669667167346,-1.8859667167346,98.8740000000000,0.0,17.0

,sensor_num,frame,name,status,x,y,z,azimuth,elevation,roll,button,quality
time,,,,,,,,,,,,
1.6662120631000e+09,1,0.0,NaN,NaN,914.288,-288.3841978637675,-120.9752042533915,-47.8262035858188,-24.1979980926495,134.2385973106359,0.0,12.0000000000000
1.6662120631333e+09,1,1.0,NaN,NaN,914.288,-287.1708900889302,-119.6204212860310,-47.2757381207830,-24.6590618219965,134.5606654268889,0.0,11.0000000000000
1.6662120631667e+09,1,2.0,NaN,NaN,914.288,-281.1960383377441,-111.4948809098062,-46.3881383305915,-26.1698522280237,135.0957284886632,0.0,10.7333524068379
1.6662120632000e+09,1,3.0,NaN,NaN,914.288,-277.1776063705505,-100.4588425720621,-45.8092013923658,-28.6147860191212,135.7323983024581,0.0,10.0000000000000
1.6662120632333e+09,1,4.0,NaN,NaN,914.288,-277.8026682640727,-97.0063994707102,-45.6483331664402,-30.8487364280094,135.2499319791145,0.0,10.0000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1.6662128130000e+09,8,22497.0,NaN,NaN,679.884,263.7610000000000,55.2520000000000,7.8925999570846,-1.9100000000000,98.8960000000000,0.0,17.0000000000000
1.6662128130333e+09,8,22498.0,NaN,NaN,679.884,263.7610000000000,55.2520000000000,7.8980000000000,-1.9100000000000,98.8960000000000,0.0,17.0000000000000
1.6662128130667e+09,8,22499.0,NaN,NaN,679.884,263.7610000000000,55.2520000000000,7.8920000000000,-1.9030000000000,98.8882333404859,0.0,17.0000000000000
1.6662128131000e+09,8,22500.0,NaN,NaN,679.996,263.7610000000000,55.2520000000000,7.8780000000000,-1.8953000500679,98.8810000000000,0.0,17.0000000000000
1.6662128131333e+09,8,22501.0,NaN,NaN,679.996,263.7610000000000,55.2039007939346,7.8669667167346,-1.8859667167346,98.8740000000000,0.0,17.0000000000000

def interpolation():
    #parser = argparse.ArgumentParser(
        #description='Interolation of motion data on video frames')

    #parser.add_argument('csv_unix', help='File of Start and End UNIX timestamps for processed videos')       
    #parser.add_argument('-f', '--fps', default=30, help="Frame rate")

    #args = parser.parse_args()
    #csv = args.csv_unix

    csv = 'C:/Users/petra/REU/unix_videos.csv'
    dfv = pd.read_csv(csv)

    # convenience class like a dict
    #if args is None:
        #args.Bunch()
        #args.fps = 30
        #args.frames = 50
    fps = 30
    #frames = 50

    # loop over videos - iterate through the unix start and end times for tasks
    for index, row in dfv.iterrows():
        # useful time interval
        start_timestamp = row['unix_start_time']
        end_timestamp = row['unix_end_time']
        
        # total number of frames
      
        frames = int(np.floor((end_timestamp - start_timestamp) * fps))
        #display(frames)
        
        # new dataframe for the time of each frame
        f = np.arange(frames) # array of frame numbers 0,1,2...,frames-1
        t = start_timestamp + f / fps
        times = pd.DataFrame({'time': t, 'frame': f})

        if False:
            display(times)
            display(df[['t', 'x']])

        # test time intervals
        assert times.time.values[0] > sensor_df.time.values[0], 'starting violation'
        assert times.time.values[-1] < sensor_df.time.values[-1], 'ending violation'

        #join the motion data and the frame times data frames 
        #merged_df = pd.merge(times, df[['t', 'x']], left_on='time', right_on='t', how='outer')

        merged_df = times.merge(sensor_df, how='outer', on='time')
        display(merged_df[['time','x','y']])

        # sort the unix times column in numerical order 
        merged_df = merged_df.sort_values('time')
        merged_df.set_index('time', inplace=True)

        # sensor columns to interpolate are all but a few
        sensor_cols = list(sensor_df.columns) # everything kinematic file
        for c in []: # excluding these columns
            sensor_cols.remove(c)
        print (sensor_cols)

        # interpolate selected columns in place 
        for c in sensor_cols:
            merged_df[c].interpolate(inplace=True, method='linear')
        
        display(merged_df)

interpolation()